---
layout: default
title: Homepage
gallery:
  heading: Pet Portraits
  gallery-images:
    - image: https://plus.unsplash.com/premium_photo-1703417464376-3f96c830891c?q=80&w=3699&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
      alt: Pink Cat
      focus: center
    - image: https://images.unsplash.com/photo-1583337130417-3346a1be7dee?q=80&w=2688&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
      alt: Frenchie
      focus: bottom
    - image: https://images.unsplash.com/photo-1488015795646-7e22a773d72a?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
      alt: Yellow Cat
      focus: center
    - image: https://images.unsplash.com/photo-1537151608828-ea2b11777ee8?q=80&w=2744&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
      alt: Corgi
      focus: center
    - image: https://images.unsplash.com/photo-1592194996308-7b43878e84a6?q=80&w=3687&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
      alt: Blue Cat
      focus: center
    - image: https://plus.unsplash.com/premium_photo-1664303466454-b8ddd4943be4?q=80&w=3687&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
      alt: Pink Dog
      focus: center
fun-heading:
  heading-line-1: This is a
  heading-line-2: fun heading
features:
  - heading: Heading
    paragraph: Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ullam repellat error voluptatum porro totam, exercitationem at distinctio facere molestiae quisquam quas illum accusantium autem, ab perferendis incidunt omnis cumque!
  - heading: Heading
    paragraph: Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ullam repellat error voluptatum porro totam, exercitationem at distinctio facere molestiae quisquam quas illum accusantium autem, ab perferendis incidunt omnis cumque!
  - heading: Heading
    paragraph: Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ullam repellat error voluptatum porro totam, exercitationem at distinctio facere molestiae quisquam quas illum accusantium autem, ab perferendis incidunt omnis cumque!
  - heading: Heading
    paragraph: Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ullam repellat error voluptatum porro totam, exercitationem at distinctio facere molestiae quisquam quas illum accusantium autem, ab perferendis incidunt omnis cumque!

---

<!------------------------------------------------------- Image Gallery Section ---------------------------------------->
<section class="container mx-auto px-8 text-center my-10">
    <div class="max-w-4xl mx-auto my-10">
        <h1 class="text-5xl lg:text-7xl uppercase font-extrabold tracking-widest" id="fancy">{{page.gallery.heading}}</h1>  
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 my-8">
        {% for item in page.gallery.gallery-images %}
      <img class="aspect-square w-full object-cover" style="object-position: {{item.focus}};" src="{{item.image}}" alt="{{item.alt}}">

        {% endfor %}
    </div>
</section>

<!------------------------------------------------------- Fun Heading---------------------------------------->
<section class="container mx-auto px-8 py-10">
    <h1 class="text-5xl lg:text-6xl uppercase font-extrabold text-right">{{page.fun-heading.heading-line-1}} <br>{{page.fun-heading.heading-line-2}}</h1>
</section>


  <!------------------------------------------------------- Features Section ---------------------------------------->
<section class="container mx-auto px-8 my-10">
  <div class="grid lg:grid-cols-2 gap-x-10 gap-y-20 my-8">

    {% for item in page.features %}
    <div>
      <h2 class="font-bold uppercase text-5xl text-center text-byellow">{{item.heading}}</h2>
      <p class="font-light">{{item.paragraph}}</p>
    </div>
    {% endfor %}
  </div>
</section>

<!------------------------------------------------------- Text Image Section ---------------------------------------->
<section class="container mx-auto px-8 min-h-screen flex flex-col my-20">
    <div class="grid md:grid-cols-2 grow gap-7">
        <div class="relative h-80 md:h-full">
            <!-- Absolute positioning has img behave like bg-image -->
            <img class="object-cover absolute top-0 left-0 w-full h-full object-bottom -scale-x-100" src="https://images.unsplash.com/photo-1517519014922-8fc06b814a0e?q=80&w=2755&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <p class="absolute -left-6 bottom-0 sideways-text font-extralight text-xs">Credit: some legend</p>
          </div>
      <div class="self-end">
        <h3 class="uppercase font-bold text-3xl ">Article Title</h3>
        <p class="font-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error quia veritatis et aspernatur sed, quas vero distinctio tenetur voluptatibus, nihil facere voluptatem, dolor sapiente quisquam labore eaque commodi odio. Voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum temporibus tempora similique. Hic, ab! Quae reprehenderit nisi quam alias deleniti sequi nihil asperiores, exercitationem fugiat perspiciatis commodi. Rem, excepturi.</p>
        <p class="font-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error quia veritatis et aspernatur sed, quas vero distinctio tenetur voluptatibus, nihil facere voluptatem, dolor sapiente quisquam labore eaque commodi odio. Voluptates. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas ex a tenetur iste error consequuntur minus soluta, enim delectus laborum quo ea obcaecati, illo nostrum blanditiis adipisci dicta, in recusandae?</p>
        <button class="bg-white text-navy px-5 py-1 text-sm uppercase hover:bg-focus hover:text-white">Contact Us</button>
      </div>
      
    </div>
  </section>