<section class="container mx-auto px-8 min-h-screen flex flex-col my-20">
    <div class="grid md:grid-cols-2 grow gap-7">
        <div class="relative h-80 md:h-full">
            <!-- Absolute positioning has img behave like bg-image -->
            <img class="object-cover absolute top-0 left-0 w-full h-full object-bottom -scale-x-100" src="{{blocks.article-image}}">
            <p class="absolute -left-6 bottom-0 sideways-text font-extralight text-xs">Credit: {{blocks.image-by}}</p>
          </div>
      <div class="self-end">
        <h3 class="uppercase font-bold text-3xl ">{{blocks.article-title}}</h3>
        <p class="font-light">{{blocks.paragraph-1}}</p>
        <p class="font-light">{{blocks.paragraph-2}}</p>
        <button class="bg-white text-navy px-5 py-1 text-sm uppercase hover:bg-focus hover:text-white">{{blocks.button-text}}</button>
      </div>
    </div>
  </section>