<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{page.title}}</title>

<!-- GOOGLE FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Flavors&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body class="bg-bright text-white">

    <!------------------------------------------------------- Header --------------------------------------------------->

<header class="uppercase font-light container mx-auto px-8 flex flex-col md:flex-row md:justify-between items-center border-b-2 border-b-white">
    <a href="/index.html" class=""> Name of Company</a>
    <nav class="flex gap-3">
      <a href="/figma.html" class="inline-block p-1 hover:bg-focus">Figma</a>
      <a href="/rounded.html" class="inline-block p-1 hover:bg-focus">Round</a>
      <a href="#" class="inline-block p-1 hover:bg-focus">Nav 3</a>
      <a href="#" class="inline-block p-1 hover:bg-focus">Nav 4</a>
    </nav>
  </header>
  

    {{content}}

    <!------------------------------------------------------- Footer Section ---------------------------------------->

<footer class="flex justify-between container mx-auto px-8 py-10 uppercase text-sm">
    <div class="flex gap-10">
      <div>
        <h3 class="">Lorem Ipsum</h3>
        <ul class="font-light space-y-1">
          <li class="w-36"><a href="#" class="hover:text-byellow hover:font-bold">Dolor sit amet</a></li>
          <li><a href="#" class="hover:text-byellow hover:font-bold">Consectetur</a></li>
          <li><a href="#" class="hover:text-byellow hover:font-bold">Adipiscing elit</a></li>
          <li><a href="#" class="hover:text-byellow hover:font-bold">ed do</a></li>
        </ul>
      </div>
      <div>
        <h3 class="">Lorem Ipsum</h3>
        <ul class="font-light space-y-1">
          <li><a href="#" class="hover:text-byellow hover:font-bold">Dolor sit amet</a></li>
          <li><a href="#" class="hover:text-byellow hover:font-bold">Consectetur</a></li>
          <li><a href="#" class="hover:text-byellow hover:font-bold">Adipiscing elit</a></li>
          <li><a href="#" class="hover:text-byellow hover:font-bold">ed do</a></li>
        </ul>
      </div>
    </div>
    <div>
      <p>Subscribe to our newsletter</p>
      <form>
          <label class="uppercase sr-only" for="_replyto"> Email </label>
          <input class="border-2 border-white bg-bright focus:border-focus outline-none py-1 px-2 placeholder:text-white placeholder:opacity-30" type="email" name="_replyto" id="_replyto" placeholder="Email" />
          <div class="">
              <button class="bg-white text-navy px-5 py-1 text-sm uppercase hover:bg-focus hover:text-white my-4" type="submit">Sign Up</button>
          </div>
        </form> 
      
    </div>
  </footer>

</body>

</html>


